snippet dump
	CVarDumper::dumpAsString(${1:param})
snippet debug Simple
	Yii::debug(${1:message}, 'debug');
snippet debug Dump
	Yii::debug(${1:message} . CVarDumper::dumpAsString(${2:var}), 'debug');
