;`# Global snippets

snippet author lampo
  @author jon.beebe@daveramsey.com (Jon Beebe)
snippet author personal
  @author somethingkindawierd@gmail.com (Jon Beebe)
snippet since
	@since `strftime("%Y-%m-%d")`
