# Global snippets

snippet author vortal
	@author beebe.vortal@gmail.com (Jon Beebe)
snippet author personal
	@author somethingkindawierd@gmail.com (Jon Beebe)
snippet since
	@since `strftime("%Y-%m-%d")`
