snippet /**var
	/**
	 * ${1:Description}
	 * @type {${2:type}}
	 */
snippet /**overview
	// Copyright `strftime("%Y")` Jon Beebe. All Rights Reserved.

	/**
	 * @fileoverview ${1:Description of file, uses, dependencies, etc.}
	 * @author ${2:email} (${3:Firstname Lastname})
	 */
snippet define normal
	define([
		${1:Includes}
	], function(${2:Variables}) {

		${3:Content}

	});

snippet define simple
	define(function(require) {

		${1:Content}

	});
